<div style="text-align:center">
    <h1>
        שלום וברוכים הבאים ל{{title}}
    </h1>
</div>

<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim1}} שליט"א </h3>
<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim2}} שליט"א </h3>
<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim3}} שליט"א </h3>
<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim4}} שליט"א </h3>
<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim5}} שליט"א </h3>
<h3> מוהר"ר רשכבה"ג הרה"ג {{rabonim6}} שליט"א </h3>

<input class="top" [(ngModel)]="rabonim1" />
<br>
<input [(ngModel)]="rabonim2" />
<br>
<input [(ngModel)]="rabonim3" />
<br>
<input [(ngModel)]="rabonim4" />
<br>
<input [(ngModel)]="rabonim5" />
<br>
<input [(ngModel)]="rabonim6" />
<br>