
        .cents {
            font-size: 0.75em;
            text-align: center;
        }

        .btn-orange {
            color: #fff;
            background-color: #ff6601;
            border-color: #ff6601;
        }

        .orange-background {
            background-color: #ff6601;
        }